<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tech News - Cristian Zamora</title>
  <link rel="stylesheet" href="/public/style/style.css">
</head>
<body>
  <header class="headerContainer">
    <!-- headerContainer -->
    <div class="divWallpaper">
      <!-- divWallpaper-->
      <nav class="navContainer">
        <!-- navContainer -->
        <ul class="listContainer">
          <!-- listContainer -->
          <li class="lists">
            <!-- lists -->
            <img src="/public/images/brand.png" alt="Img 1" class="img1">
            <!-- img1 -->
          </li>
          <li class="lists">
            <!-- lists -->
            <a href="" class="aList">
              <!-- aList -->
              Web Development
            </a>
          </li>
          <li class="lists">
            <!-- lists -->
            <a href="" class="aList">
              <!-- aList -->
              Blockchain
            </a>
          </li>
          <li class="lists">
            <!-- lists -->
            <a href="" class="aList">
              <!-- aList -->
              Machine Learning
            </a>
          </li>
          <li class="lists">
            <!-- lists -->
            <a href="" class="aList">
              <!-- aList -->
              Artificial Intelligence
            </a>
          </li>
          <li class="lists">
            <!-- lists -->
            <a href="" class="aList">
              <!-- aList -->
              Quantum Computing
            </a>
          </li>
          <li class="lists">
            <!-- lists -->
            <a href="" class="aList">
              <!-- aList -->
              Startup
            </a>
          </li>
          <li class="lists">
            <!-- lists -->
            <a href="" class="aList">
              <!-- aList -->
              Cryptocurrencies
            </a>
          </li>
          <li class="lists">
            <!-- lists -->
            <a href="" class="aList">
              <!-- aList -->
              More
            </a>
          </li>
        </ul>
        <div class="divButtonS">
          <!-- divButtonsS -->
          <button class="button buttonSearch">
            <!-- button buttonSearch -->
            <img src="/public/images/search-icons-white.png" alt="Icons Search" class="imgSearch">
            <!-- imgSearch -->
          </button>
        </div>
      </nav>
    </div>
  </header>

  <header class="headerContainer1">
    <!-- headerContainer1 -->
    <nav class="navContainer1">
      <!-- navContainer1 -->
      <div class="divImg1">
        <!-- divImg1 -->
        <img src="/public/images/brand.png" alt="Img 1" class="img1">
        <!-- img1 -->
      </div>
      <ul class="listContainer1">
        <!-- listContainer1 -->
        <li class="lists1">
          <!-- lists1 -->
          <button class="buttonMM button" onclick="mostrar_ocultar()">
            <!-- buttonMM && button -->
            <img src="/public/images/menu-icons.png" alt="IconsMenu" class="imgMenu">
            <!-- imgMenu -->
          </button>
        </li>
        <li class="lists2" id="xd">
          <!-- lists2 -->
          <a href="" class="aList1">
            <!-- aList1 -->
            Web Development
          </a>
        </li>
        <li class="lists2" id="xd1">
          <!-- lists2 -->
          <a href="" class="aList1">
            <!-- aList1 -->
            Blockchain
          </a>
        </li>
        <li class="lists2" id="xd2">
          <!-- lists2 -->
          <a href="" class="aList1">
            <!-- aList1 -->
            Machine Learning
          </a>
        </li>
        <li class="lists2" id="xd3">
          <!-- lists2 -->
          <a href="" class="aList1">
            <!-- aList1 -->
            Artificial Intelligence
          </a>
        </li>
        <li class="lists2" id="xd4">
          <!-- lists2 -->
          <a href="" class="aList1">
            <!-- aList1 -->
            Quantum Computing
          </a>
        </li>
        <li class="lists2" id="xd5">
          <!-- lists2 -->
          <a href="" class="aList1">
            <!-- aList1 -->
            Startup
          </a>
        </li>
        <li class="lists2" id="xd6">
          <!-- lists2 -->
          <a href="" class="aList1">
            <!-- aList1 -->
            Cryptocurrencies
          </a>
        </li>
        <li class="lists2" id="xd7">
          <!-- lists2 -->
          <a href="" class="aList1">
            <!-- aList1 -->
            More
          </a>
        </li>
      </ul>
      <div class="divButtonS">
        <!-- divButtonsS -->
        <button class="button buttonSearch">
          <!-- button buttonSearch -->
          <img src="/public/images/search-icons-white.png" alt="Icons Search" class="imgSearch">
          <!-- imgSearch -->
        </button>
      </div>
    </nav>
  </header>
  <div class="divContainerXD">
    <div class="divSeparador"></div>
  </div>
  <main class="mainContainer">
    <!-- mainContainer -->
    <div class="divMainContainer">
      <!-- divMainContainer -->
      <section class="section-1-blocks">
        <!-- section-1-blocks -->
        <div class="divParrafo-block1">
          <!-- divParrafo- block1 -->
          <p class="pT1">Big News Today!</p>
          <p class="pBB">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id dolor laudantium rerum, excepturi est praesentium
          natus qui? Tempora rerum, numquam inventore eligendi in, nostrum reprehenderit, eum cumque fugit eaque
          similique!</p>
        </div>
        <div class="divBotton-block1">
          <!-- divBotton-block1-->
          <button class="buttonSU button">SingUp ></button>
          <!-- buttonSu && button -->
        </div>
      </section>
      <section class="section-2-block">
        <!-- section-2-block -->
          <div class="divIB2">
            <!-- divIB2 -->
            <img src="/public/images/news1.jpg" alt="Images News" class="imgB2">
            <!-- imgB2 -->
          </div>
          <div class="divPB2">
            <!-- divPB2 -->
            <p class="PTB2">Lorem, ipsum dolor.</p>
            <!-- PTB2 -->
            <p class="pBB2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?</p>
            <!-- pBB2 -->
          </div>
          <div class="divSUXD"></div>
          <!-- divSUXD -->
          <div class="divIB2-1">
            <!-- divIB2-1 -->
            <img src="/public/images/news2.jpg" alt="Images News" class="imgB2">
            <!-- imgB2 -->
          </div>
          <div class="divPB2-1">
            <!-- divPB2-1 -->
            <p class="PTB2">Lorem, ipsum dolor.</p>
            <!-- PTB2 -->
            <p class="pBB2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?</p>
            <!-- pBB2 -->
          </div>
          <div class="divSUXD-1"></div>
          <!-- divSUXD-1 -->
          <div class="divIB2-2">
            <!-- divIB2-1 -->
            <img src="/public/images/news3.jpg" alt="Images News" class="imgB2">
            <!-- imgB2 -->
          </div>
          <div class="divPB2-2">
            <!-- divPB2-1 -->
            <p class="PTB2">Lorem, ipsum dolor.</p>
            <!-- PTB2 -->
            <p class="pBB2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?</p>
            <!-- pBB2 -->
          </div>
          <div class="divSUXD-2"></div>
          <!-- divSUXD-2 -->
          <div class="divIB2-3">
            <!-- divIB2-1 -->
            <img src="/public/images/news4.jpg" alt="Images News" class="imgB2">
            <!-- imgB2 -->
          </div>
          <div class="divPB2-3">
            <!-- divPB2-1 -->
            <p class="PTB2">Lorem, ipsum dolor.</p>
            <!-- PTB2 -->
            <p class="pBB2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?</p>
            <!-- pBB2 -->
          </div>
          <div class="divSUXD-3"></div>
          <!-- divSUXD-3 -->
      </section>
      <section class="section-3-block">
        <!-- section-3-block -->
        <div class="divB3P">
          <!-- divB3P -->
          <p class="pB3T">Lorem, ipsum dolor.</p>
          <!-- pB3T -->
          <p class="pB3B">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut qui laudantium id quam magni accusantium,
          veritatis, ipsam labore, reprehenderit dolore repudiandae nemo sint deserunt! Suscipit facilis qui inventore
          consequatur fugit.</p>
          <!-- pB3B -->
        </div>
        <div class="divB3B">
          <!-- divB3B -->
          <button class="buttonB3 button">Learn More></button>
        </div>
      </section>
      <section class="section-2-block">
        <!-- section-2-block -->
          <div class="divIB2">
            <!-- divIB2 -->
            <img src="/public/images/news1.jpg" alt="Images News" class="imgB2">
            <!-- imgB2 -->
          </div>
          <div class="divPB2">
            <!-- divPB2 -->
            <p class="PTB2">Lorem, ipsum dolor.</p>
            <!-- PTB2 -->
            <p class="pBB2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?</p>
            <!-- pBB2 -->
          </div>
          <div class="divSUXD"></div>
          <!-- divSUXD -->
          <div class="divIB2-1">
            <!-- divIB2-1 -->
            <img src="/public/images/news2.jpg" alt="Images News" class="imgB2">
            <!-- imgB2 -->
          </div>
          <div class="divPB2-1">
            <!-- divPB2-1 -->
            <p class="PTB2">Lorem, ipsum dolor.</p>
            <!-- PTB2 -->
            <p class="pBB2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?</p>
            <!-- pBB2 -->
          </div>
          <div class="divSUXD-1"></div>
          <!-- divSUXD-1 -->
          <div class="divIB2-2">
            <!-- divIB2-1 -->
            <img src="/public/images/news3.jpg" alt="Images News" class="imgB2">
            <!-- imgB2 -->
          </div>
          <div class="divPB2-2">
            <!-- divPB2-1 -->
            <p class="PTB2">Lorem, ipsum dolor.</p>
            <!-- PTB2 -->
            <p class="pBB2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?</p>
            <!-- pBB2 -->
          </div>
          <div class="divSUXD-2"></div>
          <!-- divSUXD-2 -->
          <div class="divIB2-3">
            <!-- divIB2-1 -->
            <img src="/public/images/news4.jpg" alt="Images News" class="imgB2">
            <!-- imgB2 -->
          </div>
          <div class="divPB2-3">
            <!-- divPB2-1 -->
            <p class="PTB2">Lorem, ipsum dolor.</p>
            <!-- PTB2 -->
            <p class="pBB2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
            doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?</p>
            <!-- pBB2 -->
          </div>
          <div class="divSUXD-3"></div>
          <!-- divSUXD-3 -->
      </section>
      <section class="section-3-block-1">
        <!-- section-3-block -->
        <div class="divB3P">
          <!-- divB3P -->
          <p class="pB3T">Lorem, ipsum dolor.</p>
          <!-- pB3T -->
          <p class="pB3B">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam dolore fugit esse corporis nesciunt minima
          doloremque modi mollitia rerum, similique optio eligendi itaque amet qui ullam vel incidunt asperiores fuga?</p>
          <!-- pB3B -->
        </div>
        <div class="divB3B">
          <!-- divB3B -->
          <button class="buttonB3 button">Learn More></button>
        </div>
      </section>
      <section class="sectionFollowTN">
        <!-- sectionFollowTN -->
        <div class="divPF">
          <!-- divPF -->
          <p class="pFT">Follow Tech News</p>
          <!-- pFT -->
        </div>
        <div class="divIF">
          <!-- divIF -->
          <a href="" class="AIF">
            <!-- AIF -->
            <img src="/public/images/icons-facebook.png" alt="Facebook" class="imgsF">
            <!-- imgsF -->
          </a>
          <a href="" class="AIF">
            <!-- AIF -->
            <img src="/public/images/icons-twitter.png" alt="Facebook" class="imgsF">
            <!-- imgsF -->
          </a>
          <a href="" class="AIF">
            <!-- AIF -->
            <img src="/public/images/icons-linkedin.png" alt="Facebook" class="imgsF">
            <!-- imgsF -->
          </a>
        </div>
      </section>
    </div>
  </main>

  <footer class="footerContainer">
    <!-- footerContainer -->
    <section class="sectionsFooter">
      <!-- sectionsFooter -->
      <div class="divFColumns">
        <!-- divFColumns -->
        <div class="dFC1">
          <!-- dFC1 -->
          <p class="pT1F">Title One</p>
          <!-- pT1F -->
          <p class="pB1F">Blockchain</p>
          <!-- pB1F -->
          <p class="pB1F">Machine Learning</p>
          <!-- pB1F -->
          <p class="pB1F">Artificial Intelligence</p>
          <!-- pB1F -->
          <p class="pB1F">Quantum Computing</p>
          <!-- pB1F -->
          <p class="pB1F">Startup</p>
          <!-- pB1F -->
          <p class="pB1F">Cryptocurrencies</p>
          <!-- pB1F -->
        </div>
        <div class="dFC2">
          <!-- dFC2 -->
          <p class="pT1F">Title Two</p>
          <!-- pT1F -->
          <p class="pB1F">Blockchain</p>
          <!-- pB1F -->
          <p class="pB1F">Machine Learning</p>
          <!-- pB1F -->
          <p class="pB1F">Artificial Intelligence</p>
          <!-- pB1F -->
          <p class="pB1F">Quantum Computing</p>
          <!-- pB1F -->
          <p class="pB1F">Startup</p>
          <!-- pB1F -->
          <p class="pB1F">Cryptocurrencies</p>
          <!-- pB1F -->
        </div>
        <div class="dFC3">
          <!-- dFC3 -->
          <p class="pT1F">Title Three</p>
          <!-- pT1F -->
          <p class="pB1F">Blockchain</p>
          <!-- pB1F -->
          <p class="pB1F">Machine Learning</p>
          <!-- pB1F -->
          <p class="pB1F">Artificial Intelligence</p>
          <!-- pB1F -->
          <p class="pB1F">Quantum Computing</p>
          <!-- pB1F -->
          <p class="pB1F">Startup</p>
          <!-- pB1F -->
          <p class="pB1F">Cryptocurrencies</p>
          <!-- pB1F -->
        </div>
        <div class="dFC4">
          <!-- dFC4 -->
          <p class="pT1F">Title Four</p>
          <!-- pT1F -->
          <p class="pB1F">Blockchain</p>
          <!-- pB1F -->
          <p class="pB1F">Machine Learning</p>
          <!-- pB1F -->
          <p class="pB1F">Artificial Intelligence</p>
          <!-- pB1F -->
          <p class="pB1F">Quantum Computing</p>
          <!-- pB1F -->
          <p class="pB1F">Startup</p>
          <!-- pB1F -->
          <p class="pB1F">Cryptocurrencies</p>
          <!-- pB1F -->
        </div>
    </div>
      <div class="copyRight">
        <!-- copyRight -->
        <p class="pCopyRight">Tech News CopyRight</p>
      </div>
    </section>
  </footer>

  <script defer src="/public/js/main.js"></script>
</body>
</html>
